{% load static %}
<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="{% static 'login/favicon.ico' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
  <title>Login</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <section class="form" id="login_app">
    <div class="wrapper">
      <img src="{% static 'login/logo.png' %}" alt="logo" id="logo">
      <div class="content">
        <div>
          <div class="header">
            <h1>Se connecter.</h1>
            <p>Connectez vous avec votre compte Les Grains de Sel.</p>
          </div>
          <form id="form" method="post" role="form" action="/login/">
            {% csrf_token %}
            <div class="input-container">
              <label for="email">Email</label>
              <input id="text-input" type="text" name="email" placeholder="nom@domaine.com">
            </div>
            <div class="input-container" v-if="isAdmin">
              <label for="password">Mot de Passe</label>
              <input id="text-input" type="password" name="password" placeholder="au moins 8 caractères">
            </div>
            <div class="input-container" v-else>
              <label for="password">Date de naissance</label>
              <input id="text-input" type="text" name="password" placeholder="30/12/2000">
            </div>

            <input type="hidden" name="isAdmin" :value="isAdmin">

            <a href="#" v-if="isAdmin" @click="isAdmin=false">Je ne suis pas admin</a>
            <a href="#" v-else @click="isAdmin=true">Je suis admin</a>
            <input type="submit" value="Se connecter">
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="carousel">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="4000">
          <div id="container">
            <img src="{% static 'login/carousel1.png' %}" class="d-block" id="carousel-img" alt="...">
            <h1>Gérez et organisez vos évènement !</h1>
            <p>Participez à la vie communautaire de la coopération et participez aux évènements organisés. En plus ça
              vous
              rapporte des points !</p>
          </div>
        </div>
        <div class="carousel-item" data-interval="4000">
          <div id="container">
            <img src="{% static 'login/carousel1.png' %}" class="d-block" id="carousel-img" alt="...">
            <h1>Gérez et organisez vos évènement !</h1>
            <p>Participez à la vie communautaire de la coopération et participez aux évènements organisés. En plus ça
              vous
              rapporte des points !</p>
          </div>
        </div>
        <div class="carousel-item" data-interval="4000">
          <div id="container">
            <img src="{% static 'login/carousel1.png' %}" class="d-block" id="carousel-img" alt="...">
            <h1>Gérez et organisez vos évènement !</h1>
            <p>Participez à la vie communautaire de la coopération et participez aux évènements organisés. En plus ça
              vous
              rapporte des points !</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <script>
    var login_app = new Vue({
      el: '#login_app',
      delimiters: ['[[', ']]'],
      data: {
        isAdmin: false,
      },
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>